@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
:root{
  --pale-blue: hsl(225, 100%, 94%);
  --brigth-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desatured-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body{
  font-family: 'Red Hat Display', sans-serif;
  width: 23.4375rem;
  height: calc(100vh);
  margin: 1.5rem auto;
  background-color: #D6E1FF;
  overflow-y: hidden;
}
main{
  width: 85%;
  height: calc(90vh - 14rem);
  background-color: rgb(255, 255, 255);
  box-shadow: hsl(224deg 23% 55% / 64%) 0px .9375rem 2.0625rem;
  display: flex;
  margin: 5.5rem auto;
  flex-direction: column;
  text-align: center;
  border-radius: .9375rem;
}
.human-listen-music{
  max-width: 100%;
  border-top-left-radius: .9375rem;
  border-top-right-radius: .9375rem; 
  background: url("/images/illustration-hero.svg");
  background-size: cover;
}

.title{
  margin: 1rem;
  color: var(--dark-blue);
  font-weight: 900;
}
.first-paragraph{
  margin: 0 2rem 1.5rem 1.5rem; 
  color: var(--desatured-blue);
  font-weight: 500;
  font-size: .9rem;
}
.section-informations{
  background-color: var(--very-pale-blue);
  width: 85%;
  height: 4.1rem;
  margin: 0 auto;
  border-radius: .9375rem;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container img{
  padding: 0.6rem 0;
}
.section-informations h3{
  font-size: .8rem;
}
.section-informations p{
  font-size: 0.8rem;
  position: absolute;
  padding: 15px;
}
.container img{
  margin: 0 0 0 .5rem;
}
.container h3{
  margin: 0 1rem 1.5rem 0;
  color: var(--dark-blue);
  font-weight: 900;
}
.container p{
  margin: 1rem 1.6rem 0 0;
  color: var(--desatured-blue);
}
.change{
  margin: 0 .6rem .3rem 0;
  color: var(--brigth-blue);
  font-weight: 900;
  font-family: 'Red Hat Display', sans-serif;
  font-size: .9rem;
}
.payment{
  display: flex;
  width: 85%;
  margin: 1.5rem auto 1.3rem;
  height: 3rem;
  background-color: var(--brigth-blue);
  border-radius: .9rem;
  text-decoration: none;
  box-shadow: hsl(224deg 23% 55% / 64%) 0px .9375rem 2.0625rem;
}
.payment h3{
  margin: 0.7rem auto;
  color: var(--very-pale-blue);
  font-size: 1rem;
  align-items: center;
}
.cancel{
  text-decoration: none;
  color: var(--desatured-blue);
  font-weight: 600;
}